<mat-card>
  <mat-card-title-group>
    <mat-card-title class="cardTitle" [ngStyle]="{ color: sColor }"
      >{{ sTitle }}
    </mat-card-title>
    <div class="btnContainer">
      <button (click)="sColor = 'Red'" mat-raised-button>Red</button>
      <button (click)="sColor = 'Blue'" mat-raised-button>Blue</button>
    </div>
    <mat-card-subtitle
      [class]="{
        textRed: sColor === 'Red' ?? true,
        textBlue: sColor == 'Blue' ?? true
      }"
      >{{ sDescription }}</mat-card-subtitle
    >
  </mat-card-title-group>
  <img
    class="img"
    mat-card-image
    [src]="sUrl"
    alt="Angular"
    (click)="fnToggleUrl(sUrl)"
  />

  <mat-card-content>
    <p>{{ sText }}</p>
    <!-- <mat-form-field (keyup)="sTitle = InputName.value" appearance="fill">
      <mat-label>Название карточки через (keyup)="0"</mat-label>
      <input
        #InputName
        matInput
        placeholder="Название карточки"
        [value]="sTitle"
      />
    </mat-form-field> -->
    <mat-form-field appearance="fill">
      <mat-label>Название карточки через ngModelChange </mat-label>
      <input
        matInput
        placeholder="Название карточки"
        [ngModel]="sTitle"
        (ngModelChange)="sTitle = $event"
        [value]="sTitle"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Название карточки через (ngModel)</mat-label>
      <input
        matInput
        placeholder="Название карточки"
        [(ngModel)]="sTitle"
        [value]="sTitle"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label
        >Название карточки через (click) && Шаблонные переменные</mat-label
      >
      <input
        #InputName
        matInput
        placeholder="Название карточки"
        [value]="sTitle"
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button [disabled]="bDisabled" mat-button>Сбросить наименование</button> -->

    <button (click)="sTitle = sConsTitle" mat-raised-button>
      Сбросить наименование
    </button>
    <button (click)="fnChNameTitle(InputName.value)" mat-raised-button>
      Изменить название карточки
    </button>
    <button (click)="fnDeleteCard()" mat-raised-button>
      Удалить карточку.
    </button>
  </mat-card-actions>
</mat-card>
